[DEFAULT]
ConnectionType=initiator
ReconnectInterval=60
ResetOnLogon=Y
StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=30
UseDataDictionary=Y
DataDictionary=/home/ubuntu/umm/venv/share/quickfix/FIX44.xml
SocketUseSSL=N
SocketNodelay=Y

[SESSION]
BeginString=FIX.4.4
SenderCompID=jqyr0743
SenderSubID=50133041
TargetCompID=BITSTAMP
# The local stunnel provides the SSL connection required by Bitstamp.
SocketConnectHost=127.0.0.1
SocketConnectPort=5101
